body .row{
    background-color: rgb(221, 255, 231);
}
#ytplayer{

}


@keyframes opacityIS{
    from {opacity: 1;}
    to {opacity: 0; height: 0px;}
}

.MassegeIS{
    transition: 2s;
    background-color: azure;
    animation: opacityIS 3s 1;
    
}